<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>SmolDesk Mobile</string>
  <key>CFBundleIdentifier</key>
  <string>com.ecospherenetwork.smolDeskMobile</string>
  <key>MinimumOSVersion</key>
  <string>13.0</string>
  <key>NSCameraUsageDescription</key>
  <string>Benötigt für WebRTC Videoübertragung</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Benötigt für WebRTC Audioübertragung</string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Lokales Netzwerk wird für die Verbindung zum Host genutzt</string>
</dict>
</plist>
