[Desktop Entry]
Name=SmolDesk
Comment=WebRTC Remote Desktop
GenericName=Remote Desktop
Exec=smoldesk
Icon=smoldesk
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=x-scheme-handler/smoldesk;
Keywords=remote;desktop;screen;sharing;webrtc;
StartupNotify=true
StartupWMClass=SmolDesk
